@model Todolist.Models.Task

@{
    ViewBag.Title = "Delete";
}

<h2></h2>

<h3>Вы действительно хотите удалить эту запись?</h3>
<div>
    <h4>Данные задачи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Задача
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Дата создания задачи        
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            Примечания
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            Статус задачи
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("К списку", "Index")
        </div>
    }
</div>
