@model IEnumerable<Todolist.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2 align="center">Список задач</h2>


<table class="table">
    <tr>
        <td>
            <p>
                Задача<br />
        </td>
        <td>
            Дата создания задачи<br />
        </td>
        <td>
            Примечания<br />
        </td>
        <td>
            Статус задачи<br />

        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition.Status)
            </td>
            <td>
                @Html.ActionLink("Редактировать/завершить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<p>
    <h5 align="left">
        @Html.ActionLink("Создать задачу", "Create")
    </h5>
</p>
